@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #a2c579;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #61a3ba;
}
body{
  scroll-behavior: smooth;
}
*{
  scroll-behavior: smooth;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #27272a;
  background-image: none;
  padding: em;
  color: #000000;
  cursor:rgb(0, 0, 0)nter;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
.select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #27272a;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #27272a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after{
    color:#6556cd
}